@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root {
    --orange-main: #FF9900;
    --red-orange: #E1670E;
    --light-orange: #FFB84D;
    --white: #FFFFFF;
    --grey: #CACACA;
    --light-grey: #666666;
    --dark-grey: #414141;
    --gap: 32px
}

* {
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    min-width: 320px;
}

h1 {
    margin: 0 !important;
    font-size: 0 !important;
    opacity: 0;
    visibility: hidden;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 75px;
    padding-left: 75px;
}

.nav__cont {
    display: flex;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
    box-shadow: 0px 5px 40px 0px #0000001A;
    border-radius: 0 0 32px 32px;
}

.nav__left {
    display: flex;
    align-items: center;
}

.nav__right {
    display: flex;
    align-items: center;
    gap: 85px; 
    margin-left: auto;
    order: 1;

}

.nav__magnifier {
}

.nav__link {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
}

.nav__link:focus {
    outline-offset: 2px;
    outline: 2px solid var(--orange-main);
}

.nav__link:hover {
    outline: none;
}

.nav__link:hover::before {
    opacity: 1;
}

.nav__link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--red-orange);
    opacity: 0;
}


.nav__link:active {
    outline: none;
    color: var(--red-orange);
}

.nav__link:active::after {
    opacity: 1;
}

.nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    background-color: var(--red-orange);
    opacity: 0;
}

.nav__links {
    margin-left: 105px;
    position: relative;
    outline: none;
}

.nav__logo {
    outline: none;
}

.nav__links svg {
    stroke: black;
    transition: 0.3s ease;
}

.nav__links:hover svg {
    stroke: var(--orange-main);
}

.nav__links:active svg {
    outline-offset: 2px;
    outline: 2px solid var(--orange-main);
}

.nav__links:active svg {
    stroke: black;
}


.hero__face {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 100px 80px;
    background: url(img/low-angle-photo-of-balconies-2462015.jpg) center/cover no-repeat;
    margin-top: 50px;
    border-radius: 32px;

}

.hero__head {
    display: flex;
    align-items: flex-end;
    max-width: 837px;
    margin-bottom: 24px;
    font-size: 70px;
    font-weight: 800;
    line-height: 85px;
    color: var(--white);
}

.hero__text {
    display: flex;
    align-items: flex-end;
    max-width: 790px;
    margin-bottom: 90px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--white);
}

.hero__btn {
    width: fit-content;
    padding: 25px 39px;
    border-radius: 16px;
    border: 1px solid var(--orange-main);
    background-color: var(--orange-main);
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    transition: 0.3s ease-in-out;
    outline: none;
}

.hero__btn:focus {
    color: var(--white);
    background-color: var(--light-orange);
    border: 1px solid var(--light-orange);
}

.hero__btn:hover {
    color: var(--white);
    border-color: var(--light-orange);
    border: 1px solid var(--light-orange);
}

.hero__btn:active {
    color: var(--white);
    background-color: var(--red-orange);
    border: 1px solid var(--red-orange);
}

.about__face {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
}

.about__description {
    max-width: 1235px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.about__items {
    display: flex;
    justify-content: space-between;
}

.about__bild {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 32px;
    background: url(img/builder.jpg) center/cover no-repeat;
    border-radius: 32px;
    width: 49%;
}

.about__darken {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 52px 50px;
    border-radius: 32px;
    background: rgba(0, 0, 0, 0.4);
}

.about__meadiacube {
    width: 100%;
}

.about__empty {
    display: none;
}

.about__descr {
    margin-right: 145px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    max-width: 433px;
    color: var(--white);
}

.about__btn {
    position: relative;
    width: fit-content;
    padding: 17px 37px;
    border-radius: 16px;
    border: 3px solid var(--orange-main);
    background: rgba(0, 0, 0, 0);
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    outline: none;
}

.about__btn:focus {
    color: var(--white);
    background-color: var(--orange-main);
    border: 3px solid var(--orange-main);
}

.about__btn:hover {
    color: var(--white);
    background-color: var(--orange-main);
    border: 3px solid var(--orange-main);
}

.about__btn:active {
    color: var(--white);
    background-color: var(--red-orange);
    border: 3px solid var(--red-orange);
}


.about__right {
    width: 49%;
}

.about__cube {
    display: flex;
    border: 1px solid var(--grey);
    border-radius: 32px;
    padding: 65px 60px;
    margin-bottom: 32px;
}

.about__cube:last-child {
    margin: 0;
}

.about__img {
    display: flex;
    margin-right: 50px;
}

.about__flex {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.about__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 8px;
}

.about__descrip {
    max-width: 450px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}


.stages__flex {
    display: flex;
    justify-content: space-between;
}

.stages__left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 48%;
}

.stages__right {
    width: 49%;
    border-radius: 32px;
    overflow: hidden;
}

.stages__img {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.stages__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 32px;
    margin-top: 100px;
}

.stages__titles {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
}

.stages__description {
    max-width: 758px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 18px;
}

.stages__btns {
    display: flex;

}

.stages__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid var(--orange-main);
    background: var(--orange-main);
    color: var(--white);
    border-radius: 16px;
    margin-right: 32px;
    padding: 20px 38px;
    width: fit-content;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    outline: none;
}

.stages__btn:focus {
    color: var(--white);
    background-color: var(--light-orange);
    border: 1px solid var(--light-orange);
}

.stages__btn:hover {
    color: var(--white);
    background-color: var(--light-orange);
    border: 1px solid var(--light-orange);
}

.stages__btn:active {
    color: var(--white);
    background-color: var(--red-orange);
    border: 1px solid var(--red-orange);
}


.stages__contract {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-right: 32px;
    border: 1px solid #000000;
    background: rgba(0, 0, 0, 0);
    border-radius: 16px;
    padding: 20px 38px;
    width: fit-content;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    outline: none;
}

.stages__contract:focus {
    color: var(--white);
    background-color: var(--light-grey);
    border: 1px solid var(--dark-grey);
}

.stages__contract:hover {
    color: var(--white);
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
}

.stages__contract:active {
    color: var(--white);
    background-color: black;
    border: 1px solid black;
}

.question__flex {
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
    /*width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 2)); */
}

.question__title {
    margin-top: 100px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px
}

.question__item {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--grey);
    border-radius: 32px;
    padding: 65px 60px;
    width: 32%;
}

.question__titles {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 8px;
}

.question__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.footer {
    background-color: #000000;
}

.footer__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__center {
    width: 32%;
}

.footer__chekbox {
    display: block;
    align-items: center;
}

.footer__textbox {
    user-select: none;
    cursor: pointer;
    position: relative;
    padding-left: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--grey);
}

.footer__box {
    position: absolute;
    appearance: none;
}

.footer__textbox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border: 1px solid var(--grey);
}

.footer__textbox::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);
    background: center no-repeat url(img/checkbox.svg);
    background-size: 70%;
    opacity: 0;
    transition: opacity 0.3s;
}

.footer__box:checked+.footer__textbox::after {
    opacity: 1;
}

.footer__box:focus+.footer__textbox {
    outline: 1px solid var(--orange-main);
    outline-offset: 3px;
}


.footer__first {
    background-color: var(--dark-grey);
    padding: 14px 24px;
    border: 1px solid var(--dark-grey);
    border-radius: 16px;
    margin-bottom: 20px;
    color: var(--grey);
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.footer__first:focus {
    color: var(--grey);
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
}

.footer__first:hover {
    color: var(--grey);
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
}

.footer__first:active {
    color: var(--white);
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
}

.footer__first::placeholder {
    color: var(--grey);
}



.footer__second {
    background-color: var(--dark-grey);
    padding: 14px 24px;
    border: 1px solid var(--dark-grey);
    border-radius: 16px;
    margin-bottom: 20px;
    color: var(--grey);
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.footer__second:focus {
    color: var(--grey);
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
}

.footer__second:hover {
    color: var(--grey);
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
}

.footer__second:active {
    color: var(--white);
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
}

.footer__second::placeholder {
    color: var(--grey);
}

.footer__end {
    background-color: var(--dark-grey);
    padding: 14px 24px;
    min-height: 158px;
    border: 1px solid var(--dark-grey);
    border-radius: 16px;
    margin-bottom: 25px;
    resize: none;
    color: var(--grey);
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.footer__end:focus {
    color: var(--grey);
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
}

.footer__end:hover {
    color: var(--grey);
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
}

.footer__end:active {
    color: var(--white);
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
}


.footer__end::placeholder {
    color: var(--grey);
}

.footer__form {
    display: flex;
    flex-direction: column;
}

.footer__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: var(--grey);
    margin-bottom: 24px;
}

.footer__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-right: 12px;
    border: 1px solid var(--orange-main);
    background: var(--orange-main);
    color: var(--white);
    border-radius: 16px;
    padding: 19px 52px;
    width: fit-content;
    cursor: pointer;
    transition: 0.3s ease-in;
    outline: none;
}


.footer__btn:focus {
    color: var(--white);
    background-color: var(--light-orange);
    border: 1px solid var(--light-orange);
}

.footer__btn:hover {
    color: var(--white);
    border-color: var(--light-orange);
    border: 1px solid var(--light-orange);
}

.footer__btn:active {
    color: var(--white);
    background-color: var(--red-orange);
    border: 1px solid var(--red-orange);
}

.footer__chekbox {
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: var(--white);
}

.footer__btnbox {
    display: flex;
}

.footer__label {
    display: flex;
    align-items: center;
}

.footer__left {
    width: 20%;
}

.footer__logo {
    margin-bottom: 20px;
    outline: none;
}

.footer__link {
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    margin-bottom: 18px;
    color: var(--grey);
    width: fit-content;
    transition: 0.3s ease-in-out;
}

.footer__link:focus {
    outline-offset: 2px;
    outline: 2px solid var(--orange-main);
}

.footer__link:hover {
    outline: none;
    color: var(--orange-main);
}


.footer__link:active {
    outline: none;
    color: var(--red-orange);
}

.footer__links {
    outline: none;
    text-decoration: none;
}

.footer__links svg {
    margin-top: 81px;
    margin-right: 25px;
    fill: var(--light-grey);
    fill: var(--light-grey);
    transition: 0.3s ease-in-out;
    outline: none;
}

.footer__links:focus svg {
    outline: none;
    fill: var(--orange-main);
}

.footer__links:hover svg {
    outline-offset: 2px;
    outline: 2px solid var(--orange-main);
}

.footer__links:active svg {
    outline: none;
    fill: var(--red-orange);
}

.footer__network {
    display: flex;
}

.footer__right {}

.footer__text {
    max-width: 363px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--grey);
}